  <div class="footer__social x df">
      <div>
        <a href="https://www.instagram.com/fur_you/?hl=en" title="Fur on Instagram" itemprop="url" aria-label="Go to Fur's Instagram">
          <span>Go to Fur's Instagram</span>
          {% include 'icon' with 'social-instagram' %}
        </a>
      </div>
      <div>
        <a href="https://www.tiktok.com/@fur_you?lang=en" title="Fur on Tik Tok" itemprop="url" aria-label="Go to Fur's Tik Tok">
          <span>Go to Fur's Tik Tok</span>
          {% include 'icon' with 'social-tiktok' %}
        </a>
      </div>
      <div>
        <a href="https://www.facebook.com/furproducts/" title="Fur on Facebook" itemprop="url" aria-label="Go to Fur's Facebook Page">
          <span>Go to Fur's Facebook Page</span>
          {% include 'icon' with 'social-facebook' %}
         </a>
      </div>
      <div>
        <a href='mailto:hello@furyou.com' itemprop="url" aria-label="Email hello@furyou.com">
          <span>Email hello@furyou.com</span>
          {% include 'icon' with 'social-mail' %}
      </a>
      </div>
  </div>