<div data-section-type="custom-code" data-component="quiz">
  {{section.settings.code}}
</div>
{% schema %}
{
  "name": "quiz code",
  "settings": [
    {
      "type": "html",
      "id": "code",
      "label": "Code"
    }
  ],
  "presets": [
    {
      "name":"Custom code"
    }
  ]
}
{% endschema %}