<div class="passowrd-popup" data-component="passwordPopup">
  <div class="popup">
    <div class="popup-container" style="background: {{section.settings.bg_color}};">
      <div class="info">
        <h2>{{section.settings.title}}</h2>
        <form class="password-form" data-password="{{section.settings.password}}">
          <input type="password" name="password" class="password">
          <button type="submit" class="btn">
            <span></span>
          </button>
        </form>
        <span class="err-msg hide">This password is Wrong! Please try again.</span>
        {{section.settings.text}}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "password popup",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color"
    },
    {
      "type": "textarea",
      "id": "password",
      "label": "Password"
    }
  ]
}
{% endschema %}