<div class="page reviews-page">
    <div class="page__wrapper container--mm mha px1">
          <div class="mb3 tac">
                <h2 class="serif tac">Reviews</h2>
                <p>See what others are saying about Fur</p>
          </div>
          <div class="line-break">
          <div id="yotpo-testimonials-custom-tab"></div>
          </div>
      </div>
</div>

