<div class="home" data-component='homepage'>
  <div class="sections">
    {{ content_for_index }}
    <div class='container--xl mxa pb2 js-home-fade'>
        <div class="yotpo yotpo-reviews-carousel" 
        data-background-color="transparent" 
        data-mode="top_rated" 
        data-type="product" 
        data-count="8" 
        data-show-bottomline="1" 
        data-show-navigation="1">&nbsp;
        </div>
    </div>
  </div>
</div>

<style>
.yotpo-reviews-carousel .carousel-display-wrapper .yotpo-carousel .carousel-review-body {
    font-style: normal!important;
    font-family: 'Cadiz Web', Arial !important;
}
</style>