
<section class="apply">
    <div class="apply__hero x bg-lightbeige px2">
        <div class='mha tac pt3 pb3' style="max-width: 480px;">
            <h2 class="h2">Wholesale</h2>
            <p class="pt1">Applying to become a wholesale partner is easy! We just need to verify a couple of things on our end to process your application.</p>
        </div>
    </div> 

  <div class="mxa px2" style="max-width: 600px;">
  <script type="text/javascript" src="https://fur.formstack.com/forms/js.php/fur_you"></script>
</div>
   <div class="related bg-lightbeige" style="padding-top: 50px;padding-bottom: 50px;">
    <div class='tac pt2 pb2'> 
        <h3 class='p0 pl05 pr05 mb05'>Additional questions?</h3>
        <p> Visit <a class="c-gold bold underline" href="https://furprofessionals.com/" target='_blank'>furprofessionals.com</a></p>
    </div>
    </div> 
</section>
