<div class='careers__hero tac f fw jcc aic rel jobs__hero'>
  <div class='tac'>
    <h2 class='cb serif mb0 pb0 container--m mha rel z1'>{{ page.title }}</h2>
    {% section 'careers-hero' %}
  </div>
</div>
{% section 'careers-listings' %}
