<div class="about">
  {% section 'about-hero' %}
  {% section 'about-intro' %}
  {% section 'about-founders' %}
  {% section 'about-for' %}
  {% section 'feature-quiz' %} 

  <div class="container--xl mha">
    {% section 'feature-shop' %}
  </div>  
</div>