
<div class="page">
    <div class="page__wrapper container--xl mha px1">
      <div class="center container--m mha">
          <div class="mb3 tac">
            <h3 class="serif">{{ page.title }}</h3>
          </div>
          <div class="line-break">
          {{ page.content }}
          </div>
      </div>
    </div>
</div>
