<div class="marketing x y bg-white">
   <div class="marketing-hero desktop" style="background-image: url({{ 'marketing-desktop-hero.png' | asset_url }})">
        <div class="marketing-hero-container f jcc ">
            <h1 class="hero-title"> Products made for your fur</h1>
            <div class="f jcc aic">
                <a href="/collections/all" class='btn btn_black' role='button'>Shop All Products</a>
            </div>
        </div>
    </div>

    <div class="marketing-hero mobile" style="background-image: url({{ 'marketing-mobile-hero.png' | asset_url }})">
        <div class="marketing-hero-container outer f jcs ">
            <h1 class="hero-title serif"> Products made for your fur</h1>
            <div class="f jcc aic">
                <a href="/collections/all" class='btn btn_black' role='button'>Shop All Products</a>
            </div>
        </div>
    </div>

  <div class="marketing__intro">
    <h2 class="demi">Comfort and care for all skin and hair.</h2>
    <h5>Clean, gender-neutral products made for your fur.</h5>
  </div>

    {% section 'marketing-page' %}

    <div class="marketing__quote tac">
        <h3>
        We’re Fur. Wherever you fall on the spectrum of bare to full, we make clean, gender neutral products that hydrate skin, soften hair, and eradicate ingrowns from head to toe.
        </h3>
        <div class="center f jcc aic mt2">
            <a href="/collections/all" class='btn btn_black' role='button'>Shop All Products</a>
        </div>
    </div>




  {% section 'feature-quiz' %} 

</div>